*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Bodoni MT', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../image/4k.jpg);
    margin: 0;
    padding: 0;
}
header{
	font-style: georgia; 
	font-size: 30px; 
	text-align: center; 
	background-color: blueviolet;
}
.ha section img{
	margin-top: 10px;
	align-items: center;
	left: 50%;
	width: 800px;
	height: 400px;
	border: 5px solid #000000;
}
.ha img:hover{
	transform: scale(1.1);
	box-shadow: 0 0 40px solid #ea1538;
}
table, tr, th, td
{
	border: 2px solid;
	border-collapse: collapse;
	padding: 30px;
	text-align: center;
	align-items: center;
}
h2{
	color: #00FF9C;
	margin-top: 100px;
	font-size: 32px;
}
td
{
	text-align: center;
}
td:hover
{
	background-color: yellow;
}
tr:nth-child(odd)
{
	background-color: purple;
}
tr:nth-child(even)
{
	background-color: blueviolet;
}
.home{
	position: relative;
}
.home1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.home1 img{
	top: 50%;
	left: 50%;
	display: flex;
	width: 200px;
	height: 300px;
}
.background-clip{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.ssbj video{
	width: 800px;
	height: 400px;
	border: 2px solid #fff;
}
